<div class="panel panel-default">
    <h1 class="panel-heading">
        About Revful
    </h1>
    <div class="panel-body">
        <p>
        Find high quality product reviews today using the Revful review search engine. Revful was founded to help users find unbiased information in a strait-forward manner. Our goal is to help the world make better shopping decisions.
        </p>
        <br>
        <h3>Email</h3>
        <p>{{'rod'+'mcnew+revful'+'@'+'gmail'+'.'+'com'}}</p>
        <br>
        <h3>Mailing Address</h3>
        <p>Revful<br>6227 Victoria Ave Suite A<br>Saint Louis MO 63139</p>
    </div>
</div>
